.news-header {
	width: 100%;
	max-width: 968px;
	margin-left: 40px;
}
.publication-data {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	margin-top: 24px;
}
.subtitle{
	margin-bottom: 22px;
}


.block-content m-b-block-mini .read-more {
	margin-top: 48px;
}
@media (max-width:768px){
	.news-header {
		margin-left: 0;
	}
	.publication-data {
		margin-top: 16px;
	}
	.block-content m-b-block-mini {
		padding: 16px;
		margin-bottom: 20px;
	}
	.block-content m-b-block-mini .read-more {
		margin-top: 32px;
	}
}
